<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5St0L4X4-TKRbI3z22MtneSK2SQpuSYU</string>
	<key>GCM_SENDER_ID</key>
	<string>701008954179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newSocialApp</string>
	<key>PROJECT_ID</key>
	<string>my-social-app-d5cf0</string>
	<key>STORAGE_BUCKET</key>
	<string>my-social-app-d5cf0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701008954179:ios:0b412d5a76d258d59da5f6</string>
</dict>
</plist>